*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.first-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 5em;
}

.hangman{
    width: 30%;
    height: 40vh;
    visibility: hidden;
}

.hanger{
	width: 5px;
	height:350px;
    background: #705840;
    position: relative;
}

.hanger-top{
	width: 150px;
    position: relative;
    top: -350px;
	border-top: 5px solid #705840;
}

.hanger:after{
    display: inline-block;
	content: "";
	width: 150px;
	height: 5px;
	background: #705840;
	position: absolute;
	top: 349px;
	left:0px;
}

.rope{
	width: 5px;
	height: 50px;
	background: #705840;
	position: relative;
	top:-350px;
	left: 145px;
}

.head{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 5px solid black;
	position: relative;
	top: -350px;
	left: 125px;
}

.left-eye, .right-eye{
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 15px;
}

.right-eye{
    left: 28px;
    top: 10px;
}

.mouth{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    left: 15px;
    top: 15px;

}

.body{
	width: 5px;
	height: 120px;
	background: black;
	position: relative;
	top: -350px;
	left: 150px;
}

.left-arm, .right-arm, .left-leg, .right-leg{
	width: 50px;
	height: 5px;
	background: black;
	position: relative;
	top: -430px;
	left: 110px;
	transform: rotate(-45deg);
}

.right-arm, .right-leg{
	top: -435px;
	left: 145px;
	transform: rotate(45deg);
}

.left-leg{
	top: -348px;
}

.right-leg{
	top: -353px;
}

.left-leg:before, .right-leg:before{
    display: inline-block;
    content: "";
    width: 5px;
    height: 15px;
    position: absolute;
    top: -12px;
    left:0px;
    background: black;
    border-radius:2px;
}

.right-leg:before{
    top: -10px;
    left: 49px;
}

.letters{
	width: 40%;
	height: fit-content;
	overflow-wrap: break-word;
    text-align: center;
}

.letter{
	display: inline-block;
	width: 25%;
	height: 7vh;
	font-size: 1em;
	background: #f58ba7;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	vertical-align: middle;
	line-height: 5vh;
	border-radius: 10px;
	box-shadow: -2px -2px 4px 1px #ca6b84 inset;
	outline: none;
}

.second-row{
    width: 100%;
    height: 30vh;
    text-align: center;
    margin-top: 2em;
}

.word-div{
	font-size: 40px;
	letter-spacing:25px;
	margin-left: .4em;
}

.underline-div{
	margin-left: .5em;
}


.underline-div span{
    display: inline-block;
    width:40px;
    height: 5px;
    border-top: 2px solid black;
    margin-left: -2px;
    margin-right: 15px;
}

.word-span{
	visibility: hidden;
}